<!DOCTYPE html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/signintwo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Rebbit/homepage.css' %}">
    <title>subrebbit</title>
</head>
<body class = "news">
  <header>
    <div class="nav">
      <ul class="ul2">
        <li class="logout"><a href="/index">Home</a></li>
        <li class="logout"><a href="/logout">Log Out</a></li>
        <li class="createpost"><a href="/createsub">CreateTopic</a></li>
        <li class="logout"><a href="/account">Account</a></li>
        <li class="aboutus"><a href="/about">About Us</a></li>
      </ul>
    </div>
  </header>
<div class= "form3">
  <center>
  <p> We are bosses that make reddit clone mother fuckerssss</p>
</center>
</div>

</body>
</html>